<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <logName value="Application" />
    <threshold value="WARN"/>
    <param name="ApplicationName" value="Beanpole.Client" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message %exception%newline" />
    </layout>
  </appender>

  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\BeanpoleClient\Beanpole.Client.log" />
    <RollingStyle value="Size" />
    <MaximumFileSize value="10MB" />
    <MaxSizeRollBackups value="2" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message %exception%newline" />
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{HH:mm:ss} %logger{1} %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="EventLogAppender" />
  </root>
</log4net>